
@{
    ViewBag.Title = "aboutus";
}
<div style="background-color: #ffffff; width: 100%; height:900px; margin:0px;
       padding:0px;
">
<div style="background-color: #ffffff ; width: 100%; height: 600px;  margin-bottom: 20%;">

    <div class="about-area">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h1 style="margin-left: 10%; margin-top: 19%; color: rgb(223, 196, 47); font-size: 53px;">About Us...</h1>
                        <h1 style="margin-left: 35%; margin-top: 6%;color: rgb(223, 196, 47);"></h1>
                        <p>
                            E-learning is the delivery of information on the methods of using electronic media,
                            and it has used simple educational methods, such as using electronic means that
                            help in separating lessons, or displaying information within traditional classes,
                        </p>

                        <!-- <a style="color:white;"> Go To Events</a>-->
                    </div>

                </div>

                <div class="col-lg-4">
                    <div style="    width: 310px;
                        height: 551px;
                        margin: 20px 200px 0 136px;
                        color: #ffffff;
                    background-color:  rgb(223, 196, 47);">
                    </div>
                    <div style="    width: 565px;
                        height: 395px;
                        background-image: none;
                        margin: -430px auto 0 67px;
                        color: #ffffff;
                    background-color: #bbf1fa ;
                   ">




                        <img src="~/image/11.jpg" style="height: 490px; width: 80%; border-radius: 25px;; margin-top: -50px;" />

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


    </div>


