
@{
    ViewBag.Title = "Index";
}

<div style="background-color: #bbf1fa ; width: 100%; height: 600px;">

    <div class="about-area">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h1 style="margin-left: 10%; margin-top: 19%; color: rgb(223, 196, 47);">Courses for All...</h1>
                        <h1 style="margin-left: 35%; margin-top: 6%;color: rgb(223, 196, 47);"></h1>
                        <p>
                            E-learning is the delivery of information on the methods of using electronic media,
                            and it has used simple educational methods, such as using electronic means that
                            help in separating lessons, or displaying information within traditional classes,
                        </p>

                        <!-- <a style="color:white;"> Go To Events</a>-->
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="about-img">

                        <img src="~/image/38.jpg" style="height: 450px; width: 120%;" />

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


    </div>
<div style="width1:100% ; background-color:white; height:500px">
    <div style="margin-top: 5%; margin-left: 9%; margin-bottom: 7%;">
        <h1 style="display: center; text-align: center; color: orange; margin-bottom: 3%; padding-top:5%; background-color:white"> Benefits of e-learning ....</h1>
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem; display: inline-block; margin-left: 5%; margin-right: 6%;">
            <div class="card-header">1...</div>
            <div class="card-body">
                <h5 class="card-title">First </h5>
                <p class="card-text">Everyone, who are part time students or are working full time, can take advantage of web-based learning.</p>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 18rem; display: inline-block; margin-right: 6%;">
            <div class="card-header">2....</div>
            <div class="card-body">
                <h5 class="card-title">Second</h5>
                <p class="card-text">It is a very convenient and flexible option; above all, you don't have to depend on anyone for anything..</p>
            </div>
        </div>


        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; display:inline-block;">
            <div class="card-header">3......</div>
            <div class="card-body">
                <h5 class="card-title">Third</h5>
                <p class="card-text">Due to its convenience and flexibility, the resources are available from anywhere and at any time..</p>
            </div>
        </div>
    </div>

</div>